@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto+Serif:wght@300&display=swap');

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    
}



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* NAVBAR */

.navbar {
    width: 100%;
    height: 70px;
    flex-wrap: wrap;
    background-color: rgba(51, 51, 51, 0.508);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    
    
    
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0%;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
    padding: 0 1.5rem;
    transition: 1s;
    font-weight: 500;

}

.navbar .logo h1 {
    margin: 0%;
    font-size: 5rem;
}

.navbar .logo span {
    color:  #e6005c;
    font-size: 6rem;
    height: 80px;
    padding-left: .3rem;
}

.logo {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.navbar a:hover {
    color:  #e6005c;
    /* border-bottom: 2px solid #e6005c; */
    letter-spacing: 2px;
}


/* MAİN - HEADER*/

.main-header {
    background-image: url(img/pexels-chan-walrus-941861.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.574);

}

.main-header * {
    z-index: 5;
}

/* MAİN - HEADER - content*/

.header-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    padding: 0 3rem;
}

.header-content h1 {
    font-size: 7rem;
    padding-bottom: 2rem;
}

.header-content p {
    font-size: 2.5rem;
    max-width: 90rem;
    padding-bottom: 3rem;
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 1rem 3rem;
    font-size: 2.5rem;
    background-color: #e6005c;

}

.header-content .btn {
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    font-size: 2.5rem;
    background-color: #e6005c;
    letter-spacing: 1px;
    transition: .5s;
}

.btn:hover {
    letter-spacing: 4px;
}

/*  MENU  */

.menu {
    width: 100%;
    height: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-global {
   width: 100%;
   text-align: center;
   padding: 2%;
   font-size: 3rem;
   color: #e6005c;
}
.menu-content {
    width: 90%;
    height: 80%;
    
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
}

.column33 {
    height: 100%;
    border: 10px solid white;
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.column33 .img-box {
    width: 100%;
    box-shadow: 5px 5px 5px lightgray;
}

.column33 .img-box img {
    width: 100%;  
}
.column33 .img-box img:hover {
    opacity: .7;
}
.column33 .box-text{
    padding: 2rem;
    box-shadow: 5px 5px 5px lightgray;
}
.column33 .box-text h3{
    font-size: 3rem;
    color: #e6005c;
}
.column33 .box-text p {
    font-size: 2rem;
}

.column33 .box-text:hover h3 {
    letter-spacing: 4px;
}

.column33 .box-text:hover p {
    letter-spacing: 2px;
}

/* HAKKIMIZDA */

.hakkimizda {
    width: 100%;
    height: 100%;
    /* margin-top: 70rem; */
}
.hakkimizda-header {
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.row-2 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #a29bfe23;
    padding: 3rem 1rem;
}
.column50 {
    width: 50%;
    height: 100%;
}

.column50 img {
    width: 100%;
    padding: 2%;
    padding-top: 0;
} 

.column50 p {
    font-size: 2.2rem;
    word-spacing: 7px;
}


.c-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;
}

.c-start span {
    font-size: 4rem;
    margin-left: 5px;
}

/*   GALERİ   */

.row-3 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}


.galeri-foto {
    height: 100%;
    width: 22%;
    display: flex;
    
    flex-direction: column;
    text-align: center;
}

.galeri-foto .img-box{
    width: 100%;
    
}

.galeri-foto .img-box img {
    width: 100%;  
}

.galeri-foto {
    margin: 10px 10px; 
}

.galeri-foto .img-box img:hover {
    opacity: 0.7;
}



/* YORUMLAR */

.yorumlar-kapsayici {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.column-sm {
    width: 29%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.48);
    -webkit-box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.48);
    -moz-box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.48);
    margin: 1%;
    padding: 2% 0;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    transition: .5s;

}

.column-sm:hover {
    transform: scale(1.05);
}
.column-sm .img-box {
    width:100px;
    height: 100px;
    margin-bottom: 2rem;
}

.column-sm .img-box img {
    border-radius: 100px;
}

.column-sm .box-text blockquote {
    max-width: 90%;
    margin: auto;
    font-size: 1.7rem;
}

.name-header {
    width: 100%;
    font-size:  2.5rem;
    color: #e6005c;
    font-weight: 550;
    padding-bottom: 2rem;
}

.yorum-header {
    font-size: 6rem;
}

.column-sm .box-text span {
    font-weight: 900;
    font-size: 2.5rem;
}

/* İLETİŞİM */

.iletisim-kapsayici {
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url();
    margin: 10rem auto 3rem auto;
    margin-top: 0%;
    box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.7);
    -webkit-box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.7);
}

.iletisim-column {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-control {
    /* background: gray; */
    width: 30%;
    min-width: 400px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.401);
    padding: 4rem;
    color: #e6005c;
    border: 1px solid black;
    box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: -6px 1px 50px 10px rgba(0,0,0,0.5);
    
}

.form-control label {
    font-size: 2rem;
    font-weight: 900;
    /* margin-top: 2rem; */
    
}

.form-control input {
    font-size: 2rem;
    width: 100%;
    height: 2em;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.453);
    margin-top: .8rem;
    border: 1px solid black;
}

.iletisim-column:first-child {
    background-image: url(img/form.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    border: 1px solid black;
}

.form-control textarea {
    width: 100%;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.753);
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: 1px solid black;
    font-size: 2rem;
    resize: none;
}

.iletisim .btn {
    font-size: 2rem
}








/* FOOTER */

.footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6005c;
    margin-top: 10rem;
}


.footer-content a{
    margin: 0 1rem;
    color: white;
    
}

.footer-content a:hover {
    color: rgb(155, 201, 241);
}

.footer-text p {
    font-size: 1.5rem;
    color: aliceblue;
    margin-top: 1rem;
}

@media(max-width:1200px) {
    
    .row-2 {
        flex-direction: column;
    }
    .c-start {
        width: 100%;
    }
    .column50 {
        margin: auto;
    }

    .column50 img{
        display: none;
    }

    .galeri-foto {
        width: 45%;
    }

    .column-sm {
        width: 70%;
        height: 600px;
        margin-bottom: 3rem;
    }
    .column-sm .box-text blockquote {
        font-size: 1.75rem
    }

}

@media(max-width:920px) {
   
    .column33 {
        width: 48%;
    }

    .navbar {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 140px;
    }
    .logo {
        width: 100%;
    }
}

@media(max-width:768px) {

    html {
        font-size: 8px;
    }
    .logo span {
        margin-top: 20px;
    }
    .column33 {
        width: 70%;
        margin-top: 2rem;
    }
    .galeri-foto {
        width: 70%;
        margin-top: 2rem;
    }
    .navbar {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 140px;
    }
    .logo {
        width: 100%;
    }

    .navbar ul {
        padding-bottom: 2rem;
    }

    .column-sm {
        width: 70%;
    }

    .column-sm .box-text blockquote {
        font-size: 2rem;
    }
}